<nav class="header navbar navbar-light  justify-content-between pb-0 pt-0">
    <div class="container">
        <div class="row" style="width:100%">
            <div class="col-12 col-md-7 col-lg-8">
                <img style="width:11rem;  height:4rem; margin-top: 0.5rem; margin-bottom: 0.5rem"
                    src="../../../../assets/images/letraylogo.png" alt="">
            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <div class="headerMenu">
                    <h6 style="margin-right:20px;" class="ses">
                        <a style="text-decoration: none" href="https://www.facebook.com/simca.agro.16" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </h6>
                    <h6 style="margin-right:20px;" class="ses">Inicio</h6>
                    <h6 style="margin-right:20px;" class="ses">Nosotros</h6>
                    <h6 routerLink="/login">Ingresar al sistema</h6>
                </div>
            </div>
        </div>
    </div>
</nav>