<footer class="footer">
    <div style="padding-top:4%" class="container">
      <div class="row">
        <div style="display:inline-flex; height:160px" class="col-md-4">
           <a style="margin-left: 40%;" target="_blank" href="https://www.facebook.com/simca.agro.16"><h6 class="ses" style="margin-left: 40%; color:gray; margin-right: 20px"><i class="fab fa-facebook-f"></i></h6></a> 
           <!-- <a target="_blank" href=""><h6 class="ses" style="color:gray; margin-right: 20px"><i class="fab fa-twitter"></i></h6></a>  -->
           <a target="_blank" href="https://www.instagram.com/simca.agro/?utm_source=ig_profile_share&igshid=1tf1deuq18320"><h6 class="ses"  style="color:gray; margin-right: 20px"><i class="fab fa-instagram"></i></h6></a> 
           <a target="_blank" href="https://www.linkedin.com/in/simca-agro-107583184"><h6 class="ses" style="color:gray; margin-right: 20px"><i class="fab fa-linkedin-in"></i></h6></a> 
        </div>
        <div style="text-align: center; height:160px" class="col-md-4">
            <h6 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:gray">Terminos y condiciones</h6>
        </div>
        <div style="text-align: center; height:160px" class="col-md-4">
            <h6 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:gray">Acerca de nosotros</h6>
            <h6 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:gray">simca.agro@gmail.com</h6>
            <h6 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:gray">3016231000</h6>
        </div>
      </div>
      <hr>
      <div style="text-align: center;color:rgb(161, 133, 133); margin-right: 20px">
          simca.tech 2021 &copy; 
      </div>
    </div>
  </footer>