.login{
    /* margin-top: 5%; */
    
    margin-left: 33%;
    margin-right: 33%;
    padding: 10px;
}

@media (max-width:767px){
    .login{
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
    }
}


@media (max-width:600px){
    .logoLogin{
      width: 200px !important;
      height: 90px !important;
    }
}



.loading{
    width: 1px !important;
    height: 1px !important;
    z-index: 10;
    margin-left: 38%;
  }

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px rgb(133, 132, 132);
    -moz-box-shadow: 0 10px 6px -6px rgb(145, 143, 143);
    box-shadow: 0 5px 20px 3px rgb(121, 120, 120);
    /* background: #2b2a2a */
}

.formulario{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formulario div{
    margin-bottom: 10px;
}

.body{
    padding-top: 6%;
}

.loginBox{
    padding: 4rem 1rem;
}
